{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}Este es el sitio Administrador de la aplicación. Desde acá podrás crear, editar, y eliminar los Conjuntos de Datos, las Organizaciones y los Grupos.
        Para eso debes iniciar sesión con las credenciales de Administrador.
        {% endtrans %}
      </p>
    {% endif %}
  </div>
</div>