{% ckan_extends %}
{{ super() }}
{% block core_fields %}
  <fieldset>
    <legend>{{ _('Change details') }}</legend>

    {% if g.userobj.sysadmin %}
      {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}
    {% else %}
      {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
    {% endif %}

    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true) }}

    {{ form.textarea('about', label=_('JSON Colores'), id='field-about', value=data.about, error=errors.about, placeholder=_('Colocar los colores en formato JSON'), rows=5) }}

    {# 💡 Inserta aquí la vista previa #}
    {% snippet 'snippets/color_preview.html' %}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL') ) }}
  </fieldset>
{% endblock %}
