{% set icon_map = {
  'salud': 'heart-pulse',
  'educacion': 'school',
  'seguridad': 'cctv',
  'ambiente': 'leaf',
  'desarrollo': 'briefcase',
  'economica': 'dollar-sign',
  'transporte': 'bus',
  'cultura': 'palette',
  'deporte': 'dumbbell',
  'turismo': 'mountain',
  'vivienda': 'home',
  'hacienda-y-finanzas': 'banknote',
  'trabajo-y-empleo': 'user-check',
  'obras-publicas': 'building-2',
  'servicios-publicos': 'plug',
  'gobierno-abierto': 'globe',
  'participacion-ciudadana': 'users',
  'genero-y-diversidad': 'venus',
  'ninez-y-adolescencia': 'baby',
  'adultos-mayores': 'user',
  'ciencia-y-tecnologia': 'atom',
  'produccion': 'factory',
  'justicia': 'gavel',
  'datos-demograficos': 'bar-chart',
  'catastro-y-urbanismo': 'map',
  'presupuesto-y-gasto-publico': 'wallet',
  'movilidad-y-transito': 'traffic-cone'
} %}

{% set icon = icon_map.get(group.name, 'globe') %}

<li class="media-item">
  <div class="media-image" style="text-align:center;">
    <i data-lucide="{{ icon }}"></i>
  </div>

  <h2 class="media-heading">
    <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
      {{ group.display_name }}
    </a>
  </h2>

  <span class="count">{{ group.package_count }} Conjuntos de datos</span><br>
  <strong class="count">{{ group.member_count }} Miembro</strong><br>
  <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" class="media-view">
  </a>
</li>